/* variabiles*/

:root{
    --padding: 10px;
    --footer-height: 100px;
    --header-height: 80px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "PT Sans", sans-serif, "Fredoka One", cursive;
    background-color: #141922;
    color: #999;
}

/* utilities */

    .flex{
        display: flex;
    }

    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .column{
        flex-direction: column;
    }

    .flex-grow-1{
        flex-grow: 1;
    }

    .flex-grow-2{
        flex-grow: 2;
    }

    .flex-1{
        flex: 1;
    }

    .align-items-center{
        align-items: center;
    }

    .justify-content-center{
        justify-content: center;
    }


    /* utilities */


img{
    width: 100%;
}

/* aside */ 

aside img:not(#logo){
    width: 30px;
}


.container-aside .icone a{
    padding-top: 2px;
}

.span-nascosto{
    font-size: 0.7em;
}

#logo{
    width: 90px;
}

.web-app{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#app-container{
    flex-grow: 1;
    display: flex;
}

main{
    flex-grow: 1;
    position: relative;
   
}

.debug aside{
    /* width: 75px; */
    background-color: #000000;
    padding: var(--padding);
}

.debug .square{
height: 300vh;
background-color: #141922;
}


/* nav */


nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

nav{
    padding-top: 100px;
}

.navigazione{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}


.navigazione li a{
    text-decoration: none;
    color: #7d7f84;
}

.navigazione li:first-child{
    border-bottom: 2px solid #adff2f;
}

.navigazione li a:hover{
    color: #ffffff;
}



/* header */

header{
    opacity: 80%;
    background-color: #080b12;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    text-align: right;
    height: var(--header-height);
}

header a{
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.5em;
}

header a:hover{
    transform: scale(1.3);
}

#album-container{
    overflow-y: auto;
    height: calc(100vh - var(--footer-height));
    padding: 100px var(--padding) var(--padding);
}


/* main container */

.copertine{
        width: calc(100% / 2);
        padding: var(--padding);  
}

.album-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .icone img{
    padding-top: 5px;
}

#crea-playlist{
    width: 30px;
    height: 30px;
    display: none;
}

#hr{
    width: 100%;
    display: none;
    margin-bottom: 10px;
}

.circle{
    clip-path: circle(50%);
}


footer{
    background-color: #282828;
    height: var(--footer-height);
}

.container-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icone{
    display: flex;
    flex-direction: column;
}

.icone a{
    text-decoration: none;
}

.icone a:not(#logo):not(a:hover){
    filter: invert(0.5);
}

.icone a > *{
    vertical-align: middle;
    color: #ffffff;
}

.scritte{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scritte img{
    width: 70px;
    padding-top: 5px;
}

.scritte img:nth-of-type(1){
    width: 90px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.icone-down{
    width: 30px;
}

.flex-icone-down span{
    display: none;
    color: #ffffff;
    font-size: 0.8em;
}

.xs-hidden{
    display: none;
}


/* footer */


footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

footer button{
   color: #848484;
   background-color: inherit;
   border: 0;
   margin: 5px;
}

footer #play{
    font-size: 1.2em;
    vertical-align: middle;
}

#console{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer .flex img{
    width: 50px;
}


footer .flex .align-items-center div{
    padding-left: 30px;
}

#folder{
    padding-left: 40px;
}


/* media query*/

@media screen and (min-width: 480px) {

    aside{
        width: 150px;
    }

    aside .icone a:nth-of-type(2){
        border-left: 2px solid #adff2f;
    }

    .container-aside{
        align-items: flex-start;
    }

    .scritte{
    padding-left: 30px;
    }

    #hr{
        display: block;
    }

    .flex-icone-down span{
        display: block;
    }

    .flex-icone-down{
        display: flex;
    }

    .xs-show{
        display: none;
    }

    .xs-hidden{
        display: block;
    }

    #crea-playlist{
        display: block;
    }

}

@media screen and (max-width:480px) {
    .span-nascosto{
        display: none;
        color: #ffffff;
    }

}


@media screen and (min-width:768px) {
    #folder{
        flex-direction: row;
    }

    .copertine{
        width: calc(100% / 4);
}

}

@media screen and (min-width:1200px) {
    .copertine{
        width: calc(100% / 6);
}       
}